body {
    background-color: #fff;
    font-family: 'Bevan', cursive;
}
p {
    font-family: 'Georgia', serif;
}
.styling {
    background-color: #ffffff 
}
.style2{
    color: #1572D1
}
a .style3:hover{
    color: #000000;
}
.current {
    color: #000000;
}
.border {
    border-style: solid;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-right: 1%;
    margin-left: 1%;
}
